h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%); 
}

p {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
}

.column {
    float: left;
    width: 30%;
    padding: 1.5rem;
}

.column-first {
    background-color: hsl(31, 77%, 52%);
}

.column-second {
    background-color: hsl(184, 100%, 22%);
}

.column-third {
    background-color: hsl(179, 100%, 13%);
}

.row {
    padding: 3rem;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}