body {
    font-size: 15px;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
    padding-bottom: 10px;
    font-size: 42px;
}   

p {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    padding-bottom: 30px;
    text-align: left;
    line-height: 27px;
}

.column {
    float: left;
    width: 20%;
    padding: 3rem;
}

.column-first {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.column-second {
    background-color: hsl(184, 100%, 22%);
}

.column-third {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.row {
    padding: 3rem;
    margin-left: 15%;
    margin-top: 10%;
    width: 75%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.button {
    font-family: 'Lexend Deca', sans-serif;
    line-height: 36px;
    border-radius: 48px;
    background: hsl(0, 0%, 95%);
    border: 2px solid;
    border-color: hsl(0, 0%, 95%);
    padding: 0 30px;
    cursor: pointer;
    margin-top: 40px;
}

.button:hover {
    background: none;
    border: 2px solid;
    color: hsl(0, 0%, 95%);
}

.button-first {
    color: hsl(31, 77%, 52%);
}

.button-second {
    color: hsl(184, 100%, 22%);
}

.button-third {
    color: hsl(179, 100%, 13%);
}